@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.news-page {
  margin-top: 50px;
}

.news-page a {
  color: #dc8a00;
}

.news-page ul {
  list-style: none; /* Remove default bullets */
}

.news-page li::before {
  content: '\2022';
  color: #dc8a00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.news-page pre {
  background: #141414 !important;
  border-radius: 10px;
  color: gray;
  margin: 0px;
  padding: 20px;
}

@include media-breakpoint-down(md) {
  #blog-list .content-section {
    padding: 30px 0px !important;
  }
}

#blog-list ul {
  margin-top: 40px;
}

#blog-list .list-group-item {
  margin-bottom: 15px;
  background: #141414;
  border-radius: 5px;
}

#blog-list .list-group-item:hover {
  background: #101010;
}

#blog-list h5 {
  color: white;
}
