.home-layout {
  padding: 0px !important;
  overflow-x: hidden;
}

.home-section-container {
  background: #171717;
  padding: 50px 0px;
}

.home-section {
  margin: auto;
  padding: 30px;
}

h1 {
  font-size: 30pt;
  margin-bottom: 35px;
}

.dark-title {
  color: white;
}

.home-section-link {
  font-size: 12pt;
  margin-top: 25px;
  color: #e79915;
}

.home-section-link:hover {
  text-decoration: none;
  color: #f5b23e;
}

.dark-markdown {
  color: white;
}

#news hr {
  background: rgb(128, 128, 128);
}

#news h1 {
  margin-bottom: 15px;
}

#news {
  background: #222222;
}

#news a {
  color: #e79915;
}
#news a:hover {
  color: #f5b23e;
}

#news pre {
  background: #141414;
  color: rgb(160, 160, 160);
  border-radius: 5px;
}
