.tag-container {
  padding: 100px 0px;
  max-width: 675px;
}

.tag-container .card {
  margin: 10px;
  border-radius: 5px;
  background: #141414;
}

.tag-container .card img {
  padding: 10px;
}

.tag-container textarea {
  background: #141414;
  border-color: #141414;
}

.tag-container textarea:focus {
  background: #141414;
  border-color: #535353;
  box-shadow: none;
}

.tag-container hr {
  background: #434343;
}

.tag-container .card .tooltip-tag-text {
  border-radius: 5px;
  width: 200px;
  margin-left: -100px !important;
}

.tag-container .card .tooltip-tag-text small {
  font-size: 12px !important;
  color: gray;
}
