.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  background: black;
  color: white;
  padding: 0.5em;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
}
.chartist-tooltip:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -15px;
}
.chartist-tooltip.tooltip-show {
  opacity: 1;
}

.ct-area,
.ct-line {
  pointer-events: none;
}
