.record-body {
  border: none;
}

.drop-row {
  margin-left: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.drop-wrapper {
  border: none;
  position: relative;
}

.drop-quantity {
  position: absolute;
  left: 4px;
  top: -4px;
  color: black;
  text-shadow: white 1px 1px;
  font-size: small;
}

.drop-wrapper .card-img-top {
  padding: 2px;
}
