$enable-rounded: false;
$enable-transitions: false;
$spacer: 0.2rem;
$orange: #fd7e14;
$primary: $orange;
$gray-900: #212529;
$body-bg: $gray-900;
$white: #fff;
$body-color: $white;
$gray-800: #343a40;
$dark: $gray-800;
$card-bg: $dark;
$component-active-color: $dark;
$list-group-bg: $dark;
$gray-700: #495057;
$list-group-hover-bg: $gray-700;
$gray-300: #dee2e6;
$list-group-action-color: $gray-300;
$input-bg: $dark;
$input-border-color: $gray-900;
$input-color: $gray-300;
$input-disabled-bg: $gray-800;
$input-group-addon-bg: $gray-800;
$jumbotron-bg: $dark;
$gray-100: #f8f9fa;
$nav-tabs-link-active-color: $gray-100;
$breadcrumb-bg: $dark;
$pre-color: $gray-300;
