// Bootstrap color overrides are imported from below _variables.scss file
// For documentation visit: https://getbootstrap.com/docs/4.0/getting-started/theming/
// For online editor visit: https://bootstrap.build/app/v4.1.1/
@import '_variables.scss';
@import '~bootstrap/scss/bootstrap';

html,
body,
#root,
.card {
  height: 100% !important;
}

pre {
  background-color: $light !important;
  width: 100%;
  padding: 16px;
  margin: 10px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pre-select {
  user-select: all;
}

.markdown-body img {
  max-width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.icon {
  width: 30px;
  height: 30px;
}

.recharts-tooltip-wrapper,
.recharts-tooltip-cursor,
.recharts-default-tooltip,
.recharts-tooltip-item {
  border: none !important;
  background-color: $black !important;
  color: $white !important;
}
