html,
body,
#root {
  height: 100% !important;
}

pre {
  background: #f6f8fa;
  width: 100%;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.icon {
  width: 30px;
  height: 30px;
}
