@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.card {
  border: none;
  background: none;
  margin-top: 50px;
}

.card-body {
  padding: 0px;
  margin-top: 20px;
  font-size: 15px;
  color: #a8a8a8;
}

.card-title {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.card-title a {
  color: inherit;
  overflow: hidden;
}

#externalPlugins .content-section {
  background: #141414;
  color: white;
  padding: 60px 0px;
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  #externalPlugins .content-section {
    padding: 20px 0px;
  }
}

#externalPlugins .content-section h1 {
  border-bottom: 1px solid #dc8a00;
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
  font-size: 30px;
  color: white;
}

.img-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 72px;
  margin-right: 6px;
}

.card-img-top {
  width: inherit;
  height: initial;
}
