.jumbotron {
  background-blend-mode: darken;
  transition: background-image 3s;
  color: white;
  display: table;
  width: 100%;
  margin: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) no-repeat center center fixed;
  background-size: cover;
  padding: 0px;
}

.jumbotron-cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.jumbotron-body {
  text-align: center;
  margin: auto;
}

#description {
  margin: auto;
  font-size: 30px;
  max-width: 315px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

#version {
  font-size: 16px;
  text-shadow: 2px 2px #000;
}

#download {
  margin: 5px;
}

.jumbotron-body a[type='button'] {
  background: #dc8a00;
  border-radius: 5px;
  color: white;
}

.jumbotron-body button {
  background: #dc8a00;
  border: none;
  border-radius: 5px;
}
.jumbotron-body button:hover {
  background: #f7aa2a;
}

.small {
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#social-links {
  margin-left: 20px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#social-links a img {
  border-radius: 100px;
  border: 2px solid white;
}

.social-link {
  margin-bottom: 10px;
}

.social-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 540px) {
  #social-links{
    position: relative;
    margin: 0px;
    text-align: center;
    padding-top: 50px;
  }
  .social-link {
    display: inline-block;
    margin: 8px;
  }
}