@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

body {
  background: #232323;
}

footer {
  color: #adadad;
}

footer a {
  color: #dc8a00;
}

footer a:hover {
  color: #eebb63;
  text-decoration: none;
}

footer hr {
  background: #404040;
}

@media (max-width: 900px) {
  footer {
    text-align: center;
  }

  footer .float-right {
    display: block;
    margin-top: 15px;
    width: 100%;
  }
}

#layout {
  padding-top: 55px;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  overflow: hidden;
}

.container section {
  max-width: 100%;
  margin: auto;
}

.container section .content-section {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

@include media-breakpoint-down(md) {
  .container section .content-section {
    width: 85%;
  }
}

.page-header {
  margin-bottom: 40px;
}

.content-section h1 {
  border-bottom: 1px solid #dc8a00;
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
  font-weight: 700;
  font-size: 24px;
}

.content-section h4 {
  border-bottom: 1px solid #dc8a00;
  padding-bottom: 10px;
  width: auto;
  font-size: 12px;
  float: right;
  vertical-align: bottom;
  margin-top: 8px;
}

.content-section {
  background: #232323;
  color: white;
  padding: 100px 0;
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  .content-section {
    padding: 20px 0;
  }
}
