body {
  background: #232323;
}

footer {
  color: #adadad;
}

footer a {
  color: #dc8a00;
}

footer a:hover {
  color: #eebb63;
  text-decoration: none;
}

#layout {
  padding-top: 55px;
  padding-bottom: 15px;
}

.container {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  top: 0px;
  overflow: hidden;
}

.container section {
  max-width: 100%;
  margin: auto;
}

.container section .content-section {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}
