#navbar-check-box {
  display: none;
}

#navbar-check-box:checked ~ .collapse {
  display: block;
}

.navbar-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.7) 40%, transparent);
}

.navbar-transparent {
  background: transparent;
}

.cta-button {
  border-radius: 5px;
  margin-right: 10px;
}

.navbar-dark {
  background: #282828;
}

.navbar a[role='button'] {
  margin-top: 5px;
  margin-left: 8px;
  background: #dc8a00;
  color: white;
  border: none;
}

.navbar .nav-item {
  color: white;
}

.navbar a:hover {
  opacity: 0.5;
}

.navbar a[role='button']:hover {
  opacity: 1;
  background: #f8b441;
  color: white;
}

.navbar a[role='button']:focus,
.navbar a[role='button']:active {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.navbar-transparent .navbar-nav .nav-link,
.navbar-gradient .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-shadow: black 1px 1px 2px;
}
