/* Tooltip text */
.tooltip-tag .tooltip-tag-text {
  padding: 5px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0px;
  line-height: normal;
  font-size: smaller;

  /* Position the tooltip text - see examples below! */
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-tag:hover .tooltip-tag-text {
  visibility: visible;
}
