.tooltip-tag .tooltip-tag-text {
  padding: 5px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0;
  line-height: normal;
  font-size: smaller;

  bottom: 110%;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  z-index: 1000;
}

.tooltip-tag:hover .tooltip-tag-text {
  visibility: visible;
}
