.ge-records .ge-item-img {
  max-width: 45px;
  max-height: 45px;
}

.ge-records .ge-record-info {
  margin-left: 10px;
  margin-top: 4px;
}

.ge-records .list-group-item h5 {
  font-size: 16px;
  margin: 0px;
  color: white;
}

.ge-records .list-group-item p {
  font-size: 12px;
  color: gray;
}

.ge-record-timestamp {
  line-height: 45px;
}
