.record-body {
  border: none;
}

.drop-row {
  margin-left: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.drop-wrapper {
  border: none;
  position: relative;
}

.drop-wrapper .rs-item-quantity {
  position: absolute;
  left: 4px;
  top: -4px;
}

.drop-wrapper .card-img-top {
  padding: 2px;
}

.rs-item-quantity-number {
  display: inline-block;
  background-image: url('/img/numbers.png');
  height: 10px;
}

.rs-item-quantity-K {
  filter: hue-rotate(60deg) brightness(10);
}

.rs-item-quantity-M {
  filter: hue-rotate(90deg) brightness(0.8);
}

.rs-icon,
.rs-item-quantity-number {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.loot-card .small {
  color: #a8a8a8;
}
