.record-body {
  border: none;
  padding: 0px !important;
}

.drop-row {
  padding: 0px;
  margin: 0px;
  width: calc(100% + 1px);
}

.drop-wrapper {
  border: none;
  position: relative;
  border-bottom: 1px solid #232323 !important;
  border-right: 1px solid #232323 !important;
  width: 20%;
  padding: 2px;
}

.drop-wrapper .rs-item-quantity {
  position: absolute;
  left: 4px;
  top: -4px;
}

.drop-wrapper .card-img-top {
  padding: 2px;
  width: auto;
}

.rs-item-quantity-number {
  display: inline-block;
  background-image: url('/img/numbers.png');
  height: 10px;
}

.rs-item-quantity-K {
  filter: hue-rotate(60deg) brightness(10);
}

.rs-item-quantity-M {
  filter: hue-rotate(90deg) brightness(0.8);
}

.rs-icon,
.rs-item-quantity-number {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.loot-card .card-header {
  padding: 10px 10px 6px 10px !important;
  margin: 0px !important;
}

.loot-card .small {
  color: #a8a8a8;
}
